<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/jquery-3.4.1.slim.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light "style="background-color: #e3f2fd;">
      <a class="navbar-brand text-info" href="http://127.0.0.1:5000/start/">
        <img src="{{ url_for('static', filename='pictures/bag.png')}}
      " width="40" height="40" class="d-inline-block" alt="bag">Bagpacker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:5000/start/">Neuer Trip <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:5000/gespeicherte_trips/">Gespeicherte Trips <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
               <a class="nav-link" href="http://127.0.0.1:5000/analyse/">Analyse<span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
      </div>
    </nav>
    <!-- End of navigation -->
    <form method="POST">
      <div class="form-group">
        <div class="w-auto p-2 text-center " style="background-color: #D6E1FE;">
          <div class="container d-inline-block m-2 h5">Ortschaft</div>
        </div>
        <div class="input-group input-group-lg p-4">
          <div class="input-group-prepend">
            <span class="input-group-text" style="background-color: #D6E1FE;" id="inputGroup-sizing-lg">Ort</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="ort">
        </div>
      </div>
      <div class="form-group">
        <div class="w-auto p-2 text-center " style="background-color: #D6E1FE;">
          <div class="container d-inline-block m-2 h5">Datum der Reise</div>
        </div>
        
        <div class="input-group mr-auto p-4">
          <label for="tag" >Tag</label>
          <div class="input-group-prepend pl-4">
            <select class="custom-select" id="tag" name="tag">
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
        
        <label for="monat" class="pl-5 pr-4">Monat</label>
        <select class="custom-select" name="monat">
          <option selected value="Januar">Januar</option>
          <option value="Februar">Februar</option>
          <option value="März">März</option>
          <option value="April">April</option>
          <option value="Mai">Mai</option>
          <option value="Juni">Juni</option>
          <option value="Juli">Juli</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="Oktober">Oktober</option>
          <option value="November">November</option>
          <option value="Dezember">Dezember</option>
        </select>
      </div>
      </div>

      <div class="form-group">
        <div class="w-auto p-2 text-center " style="background-color: #D6E1FE;">
          <div class="container d-inline-block m-2 h5">Länge der Reise</div>
        </div>
        <div class="input-group mr-auto p-4" >
          <label for="monat" class="pr-4">Anzahl Tage</label>
          <select class="custom-select" name="reisedauer_in_tagen">
            {% for i in range(1, 22): %}
              <option value="{{i}}">{{i}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="w-auto p-2 text-center" style="background-color: #D6E1FE;">
          <div class="container d-inline-block m-2 h5">Art der Reise</div> 
        </div>
        <div class="p-4">
        <select class="custom-select" name="art_der_reise">
          <option selected value="urlaub">Urlaub</option>
          <option value="business">Business</option>
        </select>
        </div>
      </div>
      <div class="text-center">
      <button type="submit" class="btn btn-primary mb-4">Wähle deine Aktivität aus -></button>
    </div>
    </form>
    
    
  </body>
</html>